In [1]:
from sklearn.feature_extraction import DictVectorizer
import xgboost as xgb
import pandas as pd
import numpy as np
import pickle
import os
import matplotlib.pyplot as plt
from xgboost import XGBClassifier
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from matplotlib import pyplot
from hdfs import InsecureClient
from sklearn.linear_model import LogisticRegression
client_hdfs = InsecureClient("http://10.65.31.100:50070")

In [2]:
def data_read(url):
    with client_hdfs.read(url , encoding = 'utf-8') as reader:
        if client_hdfs.content(url)["spaceConsumed"]>1000:
            df_input = pd.read_csv(reader,names=["name"])
            return df_input

In [3]:
with client_hdfs.read( "/user/dataplatform/indicium/temp/NM/newregistration12345/part-00000" , encoding = 'utf-8') as reader:
    df = pd.read_csv(reader)

In [4]:
df.head()

,imsId,guid,displayName,firstName,middleName,lastName,gender
0,VjAxI2E0M2FjNmJmLTQ2MTAtNDY3Ny1iMDkzLTRlZTQzOD...,d0a75161-edfd-4348-a1d2-b41a66ae287f,kumar bhoir,kumar,NaN,bhoir,m
1,VjAxI2E0M2JkODQ3LTYzN2YtNDc5My1hOGMwLWZiNDgwMT...,645ffcf7-abcc-4c6b-93d2-7af6fae5c1be,shreyash gangwar,shreyash,NaN,gangwar,m
2,VjAxI2E0M2NlMzcwLWQ3YWItNGU0Mi05YTE5LTZlOTkyNT...,1847122d-9dce-497c-a12b-eaf7c475c902,juned,juned,NaN,NaN,m
3,VjAxI2E0M2Q3NTU0LTVhZTQtNDJmYS04MmE1LWJhYTk0YW...,2142d281-77fa-4021-aeb5-b2b241c15951,kranthi kumar,kranthi,NaN,kumar,m
4,VjAxI2E0MDAyNDM1LTQ1NzktNGI5ZC05YzFlLWQ2NzFkMj...,6c4901e0-9b45-4d9e-ba5c-c482a426b3e9,ramesh chariya,ramesh,NaN,chariya,f

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486164 entries, 0 to 23486163
Data columns (total 7 columns):
 #   Column       Dtype
---  ------       -----
 0   imsId        object
 1   guid         object
 2   displayName  object
 3   firstName    object
 4   middleName   object
 5   lastName     object
 6   gender       object
dtypes: object(7)
memory usage: 1.2+ GB

In [7]:
df=df[df["guid"].notna()]

In [8]:
df.isnull().sum()

imsId                 0
guid                  0
displayName      513438
firstName         56875
middleName     21443389
lastName        9791272
gender                0
dtype: int64

In [9]:
df.fillna(' ', inplace=True)

In [10]:
imsMaping = df[["guid","imsId"]].reset_index(drop=True)
display(imsMaping.shape)
imsMaping = imsMaping.drop_duplicates(subset={'guid'})
display(imsMaping.shape)

(23486164, 2)

(23151963, 2)

In [11]:
df.drop_duplicates(subset={'guid','displayName','firstName','middleName','lastName','gender'},inplace=True)

In [12]:
df.shape

(23277334, 7)

In [11]:
df = df.replace({'default':' '})

In [12]:
df

,imsId,guid,displayName,firstName,middleName,lastName,gender
0,VjAxI2E0M2FjNmJmLTQ2MTAtNDY3Ny1iMDkzLTRlZTQzOD...,d0a75161-edfd-4348-a1d2-b41a66ae287f,kumar bhoir,kumar,,bhoir,m
1,VjAxI2E0M2JkODQ3LTYzN2YtNDc5My1hOGMwLWZiNDgwMT...,645ffcf7-abcc-4c6b-93d2-7af6fae5c1be,shreyash gangwar,shreyash,,gangwar,m
2,VjAxI2E0M2NlMzcwLWQ3YWItNGU0Mi05YTE5LTZlOTkyNT...,1847122d-9dce-497c-a12b-eaf7c475c902,juned,juned,,,m
3,VjAxI2E0M2Q3NTU0LTVhZTQtNDJmYS04MmE1LWJhYTk0YW...,2142d281-77fa-4021-aeb5-b2b241c15951,kranthi kumar,kranthi,,kumar,m
4,VjAxI2E0MDAyNDM1LTQ1NzktNGI5ZC05YzFlLWQ2NzFkMj...,6c4901e0-9b45-4d9e-ba5c-c482a426b3e9,ramesh chariya,ramesh,,chariya,f
...,...,...,...,...,...,...,...
23486159,VjUwIzlmZjliM2ZmLTlmODQtNDEzYS1iNzRmLThjMjExMD...,5d033c88-00f6-44f2-b8ad-c2f6feaf005a,karthik gumma,karthik,,gumma,m
23486160,VjUwIzlmZmFjZGRiLTc5YzMtNDQ5Yi1iZDUyLTA1ZmNlND...,2de3b02c-ec34-48c3-ad54-882ac0767522,guri kainth,guri kainth,,,m
23486161,VjUwIzlmZmI3NDQyLWY5OWQtNDgzMi1iNzM1LTIwY2QxOW...,c7921821-9097-4944-b92a-94a098d7b2ae,sadiq siddiuqe,sadiq siddiuqe,,,m
23486162,VjUwIzlmZmJkZDhlLTQ2N2UtNDY3Ni1iZjFkLTc3NDAyN2...,291a1e91-7e00-4a23-9198-8cc8a072fafa,akash dhurwe,akash dhurwe,,,m
23486163,VjUwIzlmZmNjMDc2LWViY2MtNGZlNC05NzcwLThhNzIxZm...,10cfc061-5957-4dbf-aa38-6cddfb8363d3,day aram bairwa,day aram bairwa,,bairwa,m

In [14]:


df['FullName'] = df['displayName']+ " " + df['firstName'] + " " + df['middleName'] + " " +df['lastName']

In [15]:
df

,imsId,guid,displayName,firstName,middleName,lastName,gender,FullName
0,VjAxI2E0M2FjNmJmLTQ2MTAtNDY3Ny1iMDkzLTRlZTQzOD...,d0a75161-edfd-4348-a1d2-b41a66ae287f,kumar bhoir,kumar,,bhoir,m,kumar bhoir kumar bhoir
1,VjAxI2E0M2JkODQ3LTYzN2YtNDc5My1hOGMwLWZiNDgwMT...,645ffcf7-abcc-4c6b-93d2-7af6fae5c1be,shreyash gangwar,shreyash,,gangwar,m,shreyash gangwar shreyash gangwar
2,VjAxI2E0M2NlMzcwLWQ3YWItNGU0Mi05YTE5LTZlOTkyNT...,1847122d-9dce-497c-a12b-eaf7c475c902,juned,juned,,,m,juned juned
3,VjAxI2E0M2Q3NTU0LTVhZTQtNDJmYS04MmE1LWJhYTk0YW...,2142d281-77fa-4021-aeb5-b2b241c15951,kranthi kumar,kranthi,,kumar,m,kranthi kumar kranthi kumar
4,VjAxI2E0MDAyNDM1LTQ1NzktNGI5ZC05YzFlLWQ2NzFkMj...,6c4901e0-9b45-4d9e-ba5c-c482a426b3e9,ramesh chariya,ramesh,,chariya,f,ramesh chariya ramesh chariya
...,...,...,...,...,...,...,...,...
23486159,VjUwIzlmZjliM2ZmLTlmODQtNDEzYS1iNzRmLThjMjExMD...,5d033c88-00f6-44f2-b8ad-c2f6feaf005a,karthik gumma,karthik,,gumma,m,karthik gumma karthik gumma
23486160,VjUwIzlmZmFjZGRiLTc5YzMtNDQ5Yi1iZDUyLTA1ZmNlND...,2de3b02c-ec34-48c3-ad54-882ac0767522,guri kainth,guri kainth,,,m,guri kainth guri kainth
23486161,VjUwIzlmZmI3NDQyLWY5OWQtNDgzMi1iNzM1LTIwY2QxOW...,c7921821-9097-4944-b92a-94a098d7b2ae,sadiq siddiuqe,sadiq siddiuqe,,,m,sadiq siddiuqe sadiq siddiuqe
23486162,VjUwIzlmZmJkZDhlLTQ2N2UtNDY3Ni1iZjFkLTc3NDAyN2...,291a1e91-7e00-4a23-9198-8cc8a072fafa,akash dhurwe,akash dhurwe,,,m,akash dhurwe akash dhurwe
23486163,VjUwIzlmZmNjMDc2LWViY2MtNGZlNC05NzcwLThhNzIxZm...,10cfc061-5957-4dbf-aa38-6cddfb8363d3,day aram bairwa,day aram bairwa,,bairwa,m,day aram bairwa day aram bairwa bairwa

In [ ]:
def name_lists(name_list):
    d = {}
    
    for name in name_list:
                
        first_name = name.split()[0]
        middle_name = name.split()[1]
        last_name = name.split()[2]
        if first_name in d:
            
            d[first_name].append(name)
            d[first_name].sort()
        elif middle_name in d:
            d[middle_name].append(name)
            d[middle_name].sort()
        elif last_name in d:
            d[last_name].append(name)
            d[last_name].sort()
            
        else:
            d[first_name]=[name]
            d[middle_name]=[name]
            d[last_name]=[name]

    return d